<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="card-wrapper">
    <form [formGroup]="loginForm" ngNativeValidate (submit)="onSubmit($event)">
      <ion-card>
        <ion-card-content>
          <div id="inputs">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
          </div>

          <div id="buttons">
            <ion-button shape="round" expand="full" color="primary" type="submit">Login</ion-button>
            <ion-button shape="round" expand="full" color="tertiary">Register</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>