<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="loadAlert()">Log out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="card-container" *ngFor="let todo of todoList">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>{{ todo. todo}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{ todo.date }}
      </ion-card-content>
    </ion-card>
  </div>

  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTodo()">
      <ion-icon :icon="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>
