<div class="wrapper">
  <div id="inputs">
    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-input type="date" [(ngModel)]="todoDate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Todo</ion-label>
      <ion-input type="text" [(ngModel)]="todo"></ion-input>
    </ion-item>
  </div>

  <div id="buttons">
    <ion-button *ngIf="!isNewTodo" shape="round" expand="full" color="primary" (click)="updateTodo()">Update</ion-button>
    <ion-button *ngIf="isNewTodo" shape="round" expand="full" color="primary" (click)="addTodo()">Add</ion-button>
    <ion-button shape="round" expand="full" color="tertiary" (click)="dismissModal()">Cancel</ion-button>
  </div>
</div>