ion-card {
    width: 70vw;
    padding: 20px;
}

#card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#inputs {
    margin-bottom: 30px;
}